form(method="POST")
  input(type="text" name="name" placeholder="Event name")
  input(type="text" name="location" placeholder="Location")
  input(type="text" name="description" placeholder="Description")
  input(type="submit" name="Submit")
